/* Tablets and under */
@media (max-width: 768px) {
  #job-info .container,
  .about
  {
    grid-template-columns: 1fr;
        margin: 20px auto;
  }
.nav-details {
  line-height: 40px;
}


  .nav-name {
    display: none;
  }
  .target {
    padding: 20px 20px 40px 40px;
  }

  .cert {
    display: grid;
    grid-template-columns: 1fr;
    /* column-gap: 40px; */
    padding: 0 20px;
  }

  .about {
margin-top: 0;
}
  .cert > img {
    width: 100%;
  }

  .certificate  .JS {
  border-left: solid 1px #d6c08d;
}

  .JS img {
    padding-left: 0;
    border-left:none;
  }

  #job-info .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Chia grid thành 3 cột có chiều cao khác nhau bằng grid-template-areas và height: auto */
    /* grid-template-areas:"job-col-1 job-col-2 job-col-3";  */
    column-gap: 40px;
    margin: 20px auto;
  }

  .job-details h1 {
    padding-left: 0 0 0 30px;
  }

  .pro {
    margin-bottom: 20px;
  }

  /* Footer */
  .footer li {
    padding: auto;
  }

  .footer ul {
    padding: 0;
  }
}
