/* Mobie */
@media (max-width: 500px) {
  #about .container,
  #job-info .container,
  .certificate,
  .project {
    grid-template-columns: 1fr;
  }

  #nav-bar .container {
    display: block;
    text-align: start;
    padding: 0;
    margin: 0;
  }

  .nav-details {
    border: none;
    padding: 5px 40px;
    margin: 0;
    line-height: 2rem;
  }

  .cert {
    padding: 20px 0 15px 0;
  }

  .cert-content {
    padding-left: 0;
  }

  .certificate .JS {
    border-left: none;
  }

  .job-content {
    padding: 0;
  }

  .footer {
  font-size: 50%;
}
  .footer li {
    padding: 0 10px 0 0;
  }
}


